.app.light {
    --bg-color: #e7e7e7;
    --inverted-bg-color: #1f1f4b;
    --primary-color: #0f0f7a;
    --secondary-color: #0101e1;
    --inverted-primary-color: #038003;
    --inverted-secondary-color: #0db40d;
}
